* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

$headerColor: #192252;
$textColor: #848fac;
$btnColor: #0e1734;
$standartFont: 'Inter', sans-serif;
$headerFont: 'Montserrat', sans-serif;

.container {
  width: 90%;
}

// basic settings for all html page

.btn {
  font-family: $standartFont;
  font-weight: 300;
  text-transform: none;
  background-color: $btnColor !important;
  border-radius: 4px;
  width: 125px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  transition: all 0.5s ease 0s;

  &:hover {
    background-color: #1c2b63 !important;
  }
  &:active {
    background-color: #1c2b63 !important;
    height: 55px;
    width: 140px;
    font-size: 18px;
  }
}

.text {
  font-family: $standartFont;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: $textColor;
}

.header {
  font-family: $headerFont;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: $headerColor;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

// basic settings for all html page

body._drop {
  overflow: hidden;
}

.dropdown__content {
  background-color: #0b265a;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.dropdown__content._drop {
  opacity: 1;
  visibility: visible;
}

.dropdown__links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dropdown__body {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 100%;
}

.dropdown__link {
  color: white;
  font-family: $standartFont;
  font-size: 25px;
  line-height: 45px;
  margin-bottom: 15px;
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);

  &:hover {
    color: #fab047;
    font-size: 28px;
  }
}

.dropdown__link._drop {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.dropdown__close {
  z-index: 1;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease 0s;

  &:hover {
    color: #fab047;
    font-size: 22px;
  }
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 120px;

  .logo {
    color: $headerColor;
    font-size: 32px;
    line-height: 39px;
    font-family: $headerFont;
    transition: all 0.5s ease 0s;

    &:hover {
      color: #1c2b63;
      font-size: 35px;
      line-height: 50px;
    }
  }

  .nav_link {
    color: $headerColor;
    font-family: $standartFont;
    font-size: 16px;
    line-height: 19px;
    margin-left: 35px;
    transition: all 0.3s ease 0s;

    &:hover {
      color: #3d4b9b;
      border-bottom: 2px solid #3d4b9b;
      font-size: 18px;
    }
  }

  .nav_dropdown {
    display: none;
  }
}

.main_top {
  height: 845px;

  .main_top__content {
    display: flex;
    justify-content: space-between;
  }

  .main_top__content_for_phone {
    display: none !important;
  }

  .main_top__content_left {
    display: flex;
    flex-direction: column;

    .main_top__header {
      font-family: $headerFont;
      font-size: 48px;
      width: 587px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: $headerColor;
      padding-top: 215px;
    }

    .main_top__text {
      font-family: $standartFont;
      font-weight: 300;
      font-size: 18px;
      line-height: 150%;
      width: 485px;
      color: $textColor;
      padding-bottom: 32px;
    }

    .btn {
      width: 156px;
      height: 51px;
    }
  }

  .main_top__content_right {
    display: flex;
    padding-top: 80px;

    .center_img {
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 90px;
    }
  }
}

.main_center {
  height: 736px;

  .main_center__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main_center__content_right {
      display: flex;
      flex-direction: column;

      .main_center__header {
        width: 690px;
      }

      .main_center__text {
        width: 584px;
      }

      .main_center__button {
        padding-top: 32px;

        .btn {
          width: 151px;
          height: 51px;
        }
      }
    }
  }
}

.main_footer {
  height: 960px;

  .main_footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;

    .main_footer__top_text {
      width: 584px;
      padding-top: 24px;
    }
  }

  .main_footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main_footer__bottom_text {
      width: 584px;
      padding-top: 24px;
    }
  }

  .main_footer__phone {
    display: none;
  }
}

.booking {
  .booking_top__heading {
    text-align: center;

    .booking_top__text {
      width: 588px;
      margin: 0 auto;
    }

    .booking_top__button {
      display: flex;
      justify-content: center;
      padding-top: 32px;
      padding-bottom: 88px;

      .btn {
        width: 165px;
        height: 51px;
      }
    }
  }

  .booking_center {
    margin-bottom: 80px;

    .booking_center__content {
      display: flex;
      justify-content: space-around;

      .booking_center__card {
        display: flex;
        flex-direction: column;

        .booking_center__header {
          font-size: 24px;
          color: #000000;
        }

        .booking_center__text {
          width: 384px;
        }

        .booking_center__learn_more {
          display: flex;
          align-items: center;
          transition: all 0.3s ease 0s;

          .learn_more__text {
            color: #424f7b;
            padding-right: 12px;
            transition: all 0.3s ease 0s;

            &:hover {
              color: #262e49;
            }
          }
          &:hover {
            transform: translateX(20px);
          }
        }
      }
    }
  }

  .booking_footer {
    .booking_footer__content {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .booking_footer__content_left {
        display: flex;
        flex-direction: column;

        .booking_footer__left_pre_header {
          font-family: $standartFont;
          font-size: 16px;
          line-height: 150%;
          color: #424f7b;
        }

        .booking_footer__left_header {
          margin: 0;
        }

        .booking_footer__left_text {
          width: 384px;
          padding-top: 15px;
        }

        .booking_footer__left_button {
          display: flex;
          align-items: center;
          padding-top: 32px;

          .btn {
            width: 148px;
            height: 51px;
          }

          .explore_more {
            font-family: $standartFont;
            padding-left: 24px;
            font-size: 16px;
            line-height: 19px;
            color: #0e1734;
            transition: 0.3s;

            &:hover {
              color: #3d4b9b;
            }
          }
        }
      }

      .booking_footer__content_right {
        display: flex;
        flex-direction: column;

        .booking_footer__right_header {
          font-size: 24px;
          margin: 0;
        }

        .step_top {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding-top: 36px;
        }

        .booking_footer__right_first-step {
          width: 588px;
          height: 100px;
          background: #ffffff;
          border-radius: 4px;
          box-shadow: 0px 0px 10px 2px rgb(230, 230, 230);
          transition: 0.5s;

          .step_top {
            padding-top: 25px;
          }

          .booking_footer__right_header {
            padding-right: 69px;
          }

          .booking_footer__right_first_text {
            opacity: 0;
            width: 516px;
            padding-left: 49px;
            padding-top: 24px;
          }

          .first_arrow_down {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: #ffece2;
            border-radius: 50%;
            transition: 0.5s;

            &:hover {
              background: #fad3be;
            }
          }
        }

        .booking_footer__right_first-step.active {
          height: 188px;
        }

        .booking_footer__right_first_text.active {
          opacity: 1;
          transition: 1.5s;
        }

        .first_arrow_down.active {
          background: #ff620a;
          transform: rotate(180deg);
          transition: 0.3s linear;

          &:hover {
            background: #fd8138;
          }
        }

        .first_arrow.active {
          filter: brightness(100);
        }

        .booking_footer__right_second-step.active {
          height: 188px;
        }

        .booking_footer__right_second-step {
          width: 588px;
          height: 100px;
          background: #ffffff;
          border-radius: 4px;
          box-shadow: 0px 0px 10px 2px rgb(230, 230, 230);
          margin-top: 24px;
          transition: 0.5s;

          .booking_footer__right_header {
            padding-right: 25px;
          }

          .booking_footer__right_second_text {
            width: 516px;
            padding-left: 49px;
            padding-top: 24px;
            opacity: 0;
          }

          .second_arrow_down {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: #ffece2;
            border-radius: 50%;
            transition: 0.5s;

            &:hover {
              background: #fad3be;
            }
          }

          .booking_footer__right_second_text.active {
            opacity: 1;
            transition: 1.5s;
          }

          .second_arrow_down.active {
            background: #ff620a;
            transform: rotate(180deg);
            transition: 0.3s linear;

            &:hover {
              background: #fd8138;
            }
          }

          .second_arrow.active {
            filter: brightness(100);
          }
        }

        .booking_footer__right_third-step.active {
          height: 188px;
        }

        .booking_footer__right_third-step {
          width: 588px;
          height: 100px;
          background: #ffffff;
          border-radius: 4px;
          box-shadow: 0px 0px 10px 2px rgb(230, 230, 230);
          margin-top: 24px;
          transition: 0.5s;

          .booking_footer__right_header {
            padding-right: 145px;
          }

          .booking_footer__right_third_text {
            width: 516px;
            padding-left: 49px;
            padding-top: 24px;
            opacity: 0;
          }

          .third_arrow_down {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: #ffece2;
            border-radius: 50%;
            transition: 0.5s;

            &:hover {
              background: #fad3be;
            }
          }

          .booking_footer__right_third_text.active {
            opacity: 1;
            transition: 1.5s;
          }

          .third_arrow_down.active {
            background: #ff620a;
            transform: rotate(180deg);
            transition: 0.3s linear;

            &:hover {
              background: #fd8138;
            }
          }

          .third_arrow.active {
            filter: brightness(100);
          }
        }
      }
    }
  }
}

.footer_top {
  padding-top: 160px;
  padding-bottom: 80px;

  .footer_top__header {
    font-size: 54px;
    text-align: center;
    padding-bottom: 40px;
  }
}

// Carousel Feedback

.slider_img {
  display: flex;
  justify-content: center;
}

.feedback {
  margin: 0 auto;
  text-align: center;
  max-width: 770px;
  padding-top: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

.name_of_author {
  text-align: center;
}

.swiper-pagination {
  bottom: 0px !important;
}

.swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: rgba(250, 175, 71, 0.844);
  border-radius: 50%;
  display: inline-block;
  transition: all 0.6s ease;
}

// Carousel Feedback

.footer_bottom {
  height: 550px;
  background: #0b265a;

  .footer_bottom__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 120px;
  }

  .footer_bottom__left_side {
    display: flex;
    flex-direction: column;

    .footer_bottom__left_header {
      color: white;
      font-size: 32px;
      line-height: 39px;
    }

    .footer_bottom__left_text {
      font-size: 16px;
      width: 186px;
      line-height: 28px;
      color: #d9dbde;
      padding-bottom: 36px;
    }

    .contact_link:first-child {
      padding-left: 0px;
    }

    .contact_link {
      padding-left: 24px;
    }

    .contact__img {
      height: 30px;
      transition: all 0.3s ease 0s;

      &:hover {
        height: 33px;
        transform: translateY(-5px);
      }
    }
  }

  .footer_bottom__right_side {
    display: flex;

    .information {
      display: flex;
      flex-direction: column;
      padding-right: 125px;
    }

    .header {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.01em;
      color: white;
      padding-bottom: 24px;
    }

    .footer_bottom__right_link {
      text-decoration: none;
      font-size: 16px;
      line-height: 19px;
      color: #d9dbde;
      padding-bottom: 24px;
      transition: all 0.3s ease;

      &:hover {
        color: #fab047;
        font-size: 18px;
      }
    }
  }
}

// Adaptive for small notebook

@media (min-width: 1024px) and (max-width: 1439px) {
  .header {
    width: auto !important;
    font-size: 37px !important;
  }

  .text {
    width: 500px !important;
  }

  .main_top {
    height: auto;
    padding-bottom: 120px;

    .center_img {
      padding-left: 16px !important;
      padding-right: 16px !important;
      padding-top: 57px !important;
    }
  }

  .main_top__header {
    padding-top: 140px !important;
  }

  .main_center {
    height: auto;
    padding-bottom: 120px;
  }

  .main_center__header {
    width: 503px !important;
  }

  .main_center__text {
    width: 500px !important;
    font-size: 16px !important;
  }

  .booking_center__card {
    width: 280px;

    .booking_center__text {
      width: 272px !important;
    }

    .booking_center__header {
      font-size: 24px !important;
    }

    .learn_more__text {
      width: 119px !important;
    }
  }

  .booking_footer__right_header {
    font-size: 24px !important;
  }

  .booking_footer__left_text {
    width: 370px !important;
  }

  .booking_footer__step.active {
    height: 220px !important;
  }

  .footer_bottom__left_text {
    width: 170px !important;
  }

  .information {
    padding-right: 50px !important;
  }
}

// Adaptive for small notebook

// Adaptive fo tablets

@media (min-width: 426px) and (max-width: 1023px) {
  .header {
    width: auto !important;
    text-align: center !important;
    font-size: 32px !important;
  }

  .text {
    width: auto !important;
    text-align: center !important;
  }

  .feedback {
    max-width: 770px !important;
  }

  .btn {
    display: flex !important;
    justify-content: center !important;
    width: 300px !important;
    margin: 0 auto;
  }

  .nav_menu {
    height: 60px;
    position: relative;

    .nav_link {
      display: none;
    }

    .nav_btn {
      display: none;
    }

    .nav_dropdown {
      display: block;
      padding-top: 10px;

      .dropdown_button {
        color: #192252;
        cursor: pointer;
      }

      .dropdown_content {
        display: none;
      }

      .dropdown_content.active_dropdown {
        display: block;
        padding-top: 10px;
        background: #0b265a;
        width: 100px;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 115px;
        border-radius: 5px;
        transition: all 1s;

        .dropdown_link {
          font-family: $standartFont;
          padding-left: 5px;
          color: white;
          transition: all 0.3s linear;

          &:hover {
            color: #fab047;
          }
        }
      }
    }
  }

  .main_top {
    height: auto;

    .main_top__content {
      justify-content: center;
      flex-direction: column;

      .main_top__content_for_phone {
        display: flex !important;
        padding-top: 40px;
        justify-content: center;
      }

      .center_img {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 53px;
      }

      .main_top__content_left {
        padding-bottom: 60px;

        .main_top__header {
          font-size: 32px;
          width: auto;
          text-align: center;
          padding-top: 0px;
        }

        .main_top__text {
          width: auto;
          text-align: center;
        }

        .main_top__btn {
          display: flex;
          justify-content: center;

          .btn {
            width: 300px;
          }
        }
      }

      .main_top__content_right {
        display: none;
      }
    }
  }

  .main_center {
    height: auto;

    .main_center__content {
      flex-direction: column;
    }
  }

  .main_footer {
    height: auto;
    padding-top: 50px;

    .main_footer__top {
      flex-direction: column;
    }

    .main_footer__bottom {
      display: none;
    }

    .main_footer__phone {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
  }

  .booking_center__content {
    flex-direction: column;

    .booking_center__card {
      padding-bottom: 30px;
      width: 500px;
      margin: 0 auto;

      .booking_center__text {
        text-align: left !important;
      }
    }
  }

  .booking_footer__content {
    flex-direction: column;

    .booking_footer__content_left {
      padding-bottom: 60px;

      .booking_footer__left_button {
        margin: 0 auto;
        .btn {
          width: 210px !important;
          margin: 0;
        }
      }
    }

    .booking_footer__content_right {
      .text {
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-left: 0 !important;
      }

      .booking_footer__step {
        margin: 0 auto;
      }

      .booking_footer__right_header {
        font-size: 28px !important;
      }

      .phone_first {
        padding-right: 63px !important;
      }

      .phone_second {
        padding-right: 20px !important;
      }

      .phone_third {
        padding-right: 165px !important;
      }
    }
  }

  .footer_top {
    padding-bottom: 40px;
    padding-top: 60px;
  }

  .slider {
    .name_of_author {
      font-size: 22px !important;
    }
  }

  .footer_bottom {
    height: 400px;

    .footer_bottom__content {
      padding-top: 50px;
      justify-content: center;
    }

    .footer_bottom__right_side {
      display: none;
    }

    .footer_bottom__left_side {
      .header {
        font-size: 40px !important;
      }

      .text {
        width: 210px !important;
      }

      .social_media {
        display: flex;
        justify-content: center;
      }
    }
  }
}

// Adaptive fo tablets

// Adaptive for Phones

@media (max-width: 374px) {
  .for_small_phones {
    width: 320px;
  }

  .header {
    width: auto !important;
    text-align: center !important;
    font-size: 32px !important;
  }

  .text {
    width: auto !important;
    text-align: center !important;
  }

  .btn {
    display: flex !important;
    justify-content: center !important;
    width: 300px !important;
    margin: 0 auto;
  }

  .nav_menu {
    height: 60px;
    position: relative;

    .nav_dropdown {
      display: block;
      padding-top: 10px;

      .dropdown_button {
        color: #192252;
        cursor: pointer;
      }

      .dropdown_content {
        display: none;
      }

      .dropdown_content.active_dropdown {
        display: block;
        padding-top: 10px;
        background: #0b265a;
        width: 100px;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 115px;
        border-radius: 5px;

        .dropdown_link {
          font-family: $standartFont;
          padding-left: 5px;
          color: white;
          transition: all 0.3s linear;

          &:hover {
            color: #fab047;
          }
        }
      }
    }
  }

  .main_top {
    height: auto;

    .main_top__content {
      justify-content: center;
      flex-direction: column;

      .main_top__content_for_phone {
        display: flex !important;
        padding-top: 40px;
      }

      .center_img {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 53px;
      }

      .main_top__content_left {
        padding-bottom: 60px;

        .main_top__header {
          font-size: 32px;
          width: auto;
          text-align: center;
          padding-top: 0px;
        }

        .main_top__text {
          width: auto;
          text-align: center;
        }

        .main_top__btn {
          display: flex;
          justify-content: center;

          .btn {
            width: 300px;
          }
        }
      }

      .main_top__content_right {
        display: none;
      }
    }
  }

  .main_center {
    height: auto;

    .main_center__content {
      flex-direction: column;
    }
  }

  .main_footer {
    height: auto;
    padding-top: 50px;

    .main_footer__top {
      flex-direction: column;
    }

    .main_footer__bottom {
      display: none;
    }

    .main_footer__phone {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
  }

  .booking_center__content {
    flex-direction: column;

    .booking_center__card {
      padding-bottom: 30px;

      .booking_center__text {
        text-align: left !important;
      }
    }
  }

  .booking_footer__content {
    flex-direction: column;

    .booking_footer__content_left {
      padding-bottom: 60px;

      .booking_footer__left_button {
        margin: 0 auto;
        .btn {
          width: 210px !important;
          margin: 0;
        }
      }
    }

    .booking_footer__content_right {
      .text {
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-left: 0 !important;
      }

      .booking_footer__step {
        width: 300px !important;
        margin: 0 auto;
      }

      .booking_footer__step.active {
        width: 300px !important;
        margin: 0 auto;
        height: 220px !important;
      }

      .booking_footer__right_header {
        font-size: 15px !important;
      }

      .phone_first {
        padding-right: 27px !important;
      }

      .phone_second {
        padding-right: 0px !important;
      }

      .phone_third {
        padding-right: 78px !important;
      }
    }
  }

  .footer_top {
    padding-bottom: 40px;
    padding-top: 60px;
  }

  .slider {
    .name_of_author {
      font-size: 22px !important;
    }
  }

  .footer_bottom {
    height: 400px;

    .footer_bottom__content {
      padding-top: 50px;
      justify-content: center;
    }

    .footer_bottom__right_side {
      display: none;
    }

    .footer_bottom__left_side {
      .header {
        font-size: 40px !important;
      }

      .text {
        width: 210px !important;
      }

      .social_media {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .header {
    width: auto !important;
    text-align: center !important;
    font-size: 32px !important;
  }

  .text {
    width: auto !important;
    text-align: center !important;
  }

  .btn {
    display: flex !important;
    justify-content: center !important;
    width: 300px !important;
    margin: 0 auto;
  }

  .nav_menu {
    height: 60px;
    position: relative;

    .nav_dropdown {
      display: block;
      padding-top: 10px;

      .dropdown_button {
        color: #192252;
        cursor: pointer;
      }

      .dropdown_content {
        display: none;
      }

      .dropdown_content.active_dropdown {
        display: block;
        padding-top: 10px;
        background: #0b265a;
        width: 100px;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 115px;
        border-radius: 5px;
        transition: all 1s;

        .dropdown_link {
          font-family: $standartFont;
          padding-left: 5px;
          color: white;
          transition: all 0.3s linear;

          &:hover {
            color: #fab047;
          }
        }
      }
    }
  }

  .main_top {
    height: auto;

    .main_top__content {
      justify-content: center;
      flex-direction: column;

      .main_top__content_for_phone {
        display: flex !important;
        padding-top: 40px;
      }

      .center_img {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 53px;
      }

      .main_top__content_left {
        padding-bottom: 60px;

        .main_top__header {
          font-size: 32px;
          width: auto;
          text-align: center;
          padding-top: 0px;
        }

        .main_top__text {
          width: auto;
          text-align: center;
        }

        .main_top__btn {
          display: flex;
          justify-content: center;

          .btn {
            width: 300px;
          }
        }
      }

      .main_top__content_right {
        display: none;
      }
    }
  }

  .main_center {
    height: auto;

    .main_center__content {
      flex-direction: column;
    }
  }

  .main_footer {
    height: auto;
    padding-top: 50px;

    .main_footer__top {
      flex-direction: column;
    }

    .main_footer__bottom {
      display: none;
    }

    .main_footer__phone {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
  }

  .booking_center__content {
    flex-direction: column;

    .booking_center__card {
      padding-bottom: 30px;

      .booking_center__text {
        text-align: left !important;
      }
    }
  }

  .booking_footer__content {
    flex-direction: column;

    .booking_footer__content_left {
      padding-bottom: 60px;

      .booking_footer__left_button {
        margin: 0 auto;
        .btn {
          width: 210px !important;
          margin: 0;
        }
      }
    }

    .booking_footer__content_right {
      .text {
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-left: 0 !important;
      }

      .booking_footer__step {
        width: 350px !important;
        margin: 0 auto;
      }

      .booking_footer__right_header {
        font-size: 18px !important;
      }

      .phone_first {
        padding-right: 50px !important;
      }

      .phone_second {
        padding-right: 20px !important;
      }

      .phone_third {
        padding-right: 118px !important;
      }
    }
  }

  .footer_top {
    padding-bottom: 40px;
    padding-top: 60px;
  }

  .slider {
    .name_of_author {
      font-size: 22px !important;
    }
  }

  .footer_bottom {
    height: 400px;

    .footer_bottom__content {
      padding-top: 50px;
      justify-content: center;
    }

    .footer_bottom__right_side {
      display: none;
    }

    .footer_bottom__left_side {
      .header {
        font-size: 40px !important;
      }

      .text {
        width: 210px !important;
      }

      .social_media {
        display: flex;
        justify-content: center;
      }
    }
  }
}

// Adaptive for Phones
